* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.eb-garamond-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

nav {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #707070;
  font-family: "Poppins", sans-serif;
}

nav button {
  background-color: #b68c5a;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  outline: none;
  border: none;
  color: #fff;
  height: 64px;
  width: 220px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

#banner {
  background: url("../images/Rectangle\ 5.png"), url("../images/banner.png");
  width: 80%;
  background-position: center, center;
  background-repeat: no-repeat no-repeat;
  background-size: cover, cover;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  margin: 0 auto 120px;
}

#banner .banner-container {
  max-width: 55%;
}

#banner .banner-container h1 {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 85px;
  margin-bottom: 24px;
}

#banner .banner-container p {
  color: #e7e7e7;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
}

#banner .banner-container .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#banner .banner-container .search-box input {
  height: 3.5rem;
  width: 31rem;
  outline: none;
  padding: 32px 16px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

#banner .banner-container .search-box button {
  height: 3.5rem;
  background-color: #b68c5a;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#practice {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 120px;
  text-align: center;
}

#practice > h1 {
  color: #414040;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 24px;
}

#practice > p {
  color: #707070;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  max-width: 717px;
  margin-bottom: 4rem;
}

#practice .practice-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#practice .practice-container .card {
  padding: 70px 40px;
  border: 1px solid #00000015;
}

.border-t-0 {
  border-top: 0 !important;
}

.border-r-0 {
  border-right: 0 !important;
}

.border-l-0 {
  border-left: 0 !important;
}

.border-b-0 {
  border-bottom: 0 !important;
}

.shadow-from-t {
  box-shadow: inset 0px 50px 100px -30px #00000019;
}

#practice .practice-container .card img {
  margin-bottom: 32px;
}

#practice .practice-container .card h1 {
  color: #414040;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 24px;
}

#practice .practice-container .card p {
  color: #707070;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
}

#client {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 120px;
}

#client > h1 {
  color: #414040;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 24px;
}

#client > p {
  color: #707070;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  max-width: 60%;
  margin: 0 auto 4rem;
}

#client .review-container {
  max-width: 100%;
  height: 500px;
  text-align: center;
  background: url("../images/Rectangle\ 7.png"), url("../images/banner.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  color: #fff;
}

#client .review-container button {
  background: none;
  outline: none;
  border: 2px solid #ffffff30;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
}

#client .review-container .reviews {
  max-width: 80%;
  text-align: center;
}

#client .review-container .reviews img {
  width: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-bottom: 24px;
}

#client .review-container .reviews h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 4px;
}

#client .review-container .reviews .client-title {
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
}

#client .review-container .reviews .detail {
  color: #f3f3f3;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
}

#client .review-container .reviews .slider {
  font-size: 65px;
  font-weight: 900;
  color: #707070;
  text-align: center;
  word-spacing: -8px;
}

#client .review-container .reviews .slider span {
  color: #fff;
}

#questions {
  max-width: 80%;
  margin: 0 auto 120px;
}

#questions > h1 {
  color: #414040;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 24px;
  text-align: center;
}

#questions > p {
  color: #707070;
  font-family: "Poppins", sans-serif;
  max-width: 45rem;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 64px;
  text-align: center;
}

#questions .questions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#questions .questions-container .questions-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#questions .questions-container .questions-card .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 36rem;
  background-color: #f3f3f3;
  padding: 30px 25px;
  border-radius: 8px;
}

#questions .questions-container .questions-card .card .card-detail {
  text-align: left;
  max-width: 30rem;
}

#questions .questions-container .questions-card .card .card-detail h1 {
  color: #414040;
  font-size: 24px;
  font-weight: 900;
}

#questions .questions-container .questions-card .card .card-detail p {
  color: #707070;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  margin-top: 16px;
}

#questions .questions-container .questions-card .card h1 {
  color: #414040;
  font-size: 20px;
}

#contact {
  max-width: 80%;
  margin: 0 auto 120px;
}

#contact > h1 {
  color: #414040;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 24px;
  text-align: center;
}

#contact > p {
  color: #707070;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto 64px;
  max-width: 60%;
  text-align: center;
}

#contact .contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact .contact-container .contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#contact .contact-container .contact-info .info-card {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 285px;
  border: 1px;
  border: 1px solid #aba0a025;
}

#contact .contact-container .contact-info .info-card h3 {
  color: #414040;
  font-size: 24px;
  font-weight: 900;
  margin: 16px 0;
}

#contact .contact-container .contact-info .info-card p {
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-size: 16px;
  line-height: 26px;
}

#contact .contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#contact .contact-container form * {
  width: 550px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #f3f3f3;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  color: #707070;
  resize: none;
}

#contact .contact-container form [type] {
  height: 72px;
}

#contact .contact-container form [type="button"] {
  background: #b68c5a;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #111;
  height: 500px;
}

footer .footer-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 80%;
}

footer .footer-container .detail {
  max-width: 260px;
}

footer .footer-container .detail p {
  color: #cfcfcf;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 32px;
}

footer .footer-container .links h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 47px;
}

footer .footer-container .links ul {
  list-style: none;
  color: #cfcfcf;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 40px;
}

footer .footer-container .contact h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 47px;
}

footer .footer-container .contact p {
  color: #cfcfcf;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 16px 0;
}

footer .footer-container .subscribe h1 {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 47px;
}

footer .footer-container .subscribe p {
  color: #cfcfcf;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
  max-width: 220px;
}

footer .footer-container .subscribe span {
  position: relative;
}

footer .footer-container .subscribe span input {
  height: 60px;
  width: 324px;
  padding: 10px;
  border: none;
  outline: none;
  color: #a0a0a0;
  font-style: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
}

footer .footer-container .subscribe span button {
  border: none;
  outline: none;
  height: 60px;
  width: 60px;
  padding: 10px;
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 24px;
  background: #b68c5a;
  border-radius: 8px;
}
